<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="cnBuchungen.ConnectionString" value="Data Source=ITSW16SQL2\\SQL_A;Initial Catalog=KBS_Muster_Schueler;Integrated Security=True" />
	</appSettings>
</configuration>